---
---

@import "{{ site.theme }}";

body {
	background-color: #aca8a1;
	background: #aca8a1;
}

#banner {
	background-color: #345e91;
}

#banner .fork {
	margin-top: 0;
	padding: 5px 12px;
	background-color: inherit;
}

#banner .fork a {
	margin-top: 0;
	background-color: #ffe788;
}
